@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --defaultPadding: 35px 90px;
}

.main-div {
  padding: var(--defaultPadding);
}

.main-div::before {
  content: "";
  height: 100%;
  width: 52%;
  /* border: 2px solid red; */
  background: url(../images/backcover.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 1px;
  top: 0;
  background-size: cover;
  z-index: -1;
}

/* -------Navbar------- */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img[alt="logo"] {
  height: 40px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin: 0 20px;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #3f4787;
  cursor: pointer;
}

.signin-btn {
  border: none;
  background: linear-gradient(
    to right,
    rgba(130, 70, 227, 0.955),
    rgba(255, 138, 220, 0.955)
  );
  padding: 3px 25px;
  border-radius: 22px;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  cursor: pointer;
}
/* ------------ */

/* ---------intro-section------ */
.intro-section {
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 50%;
  margin-top: 5%;
}
.left-section > h1 {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-size: 85px;
  margin: 30px 0 6px;
  color: #3e4794;
}
.left-section > h4 {
  color: #606270;
  padding-right: 50%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 22px;
  font-size: 15px;
}

.learn-more-btn {
  border: none;
  background: linear-gradient(
    to right,
    rgba(130, 70, 227, 0.955),
    rgba(255, 138, 220, 0.955)
  );
  padding: 3px 25px;
  border-radius: 31px;
  color: #ffffff;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 30px;
  margin: 67px 0;
  cursor: pointer;
}

/* -------------- */

/* Right section  */
.imgs-div {
  position: relative;
  width: 50%;
}

img[alt="intro-img"] {
  position: absolute;
  height: 629px;
  left: -34px;
}

.vector-img {
  position: absolute;
  top: 83%;
}

.vector-dot {
  position: absolute;
  top: 85%;
  left: 9%;
}

/* Extra feture-----> */
.learn-more-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}
